<h2> Django orm Project</h2>

<h3><a href="addemp">Add Employee</a></h3>
<h3><a href="listemp">List Employee</a></h3>
<h3><a href="addacc">Add Account</a></h3>
<h3><a href="listacc">List Account</a></h3>

<h1> One To One Relationship</h1>
<h3><a href="addedu">Add Education</a></h3>
<h3><a href="listedu">List Education</a></h3>

<h1>inheriting parent class</h1>
<h3><a href="addedu2">Add Education2</a></h3>
<h3><a href="listedu2">List Education2</a></h3>

<h1> Many To Many Relationship</h1>
<h3><a href="addpro">Add Project</a></h3>
<h3><a href="listpro">List Project</a></h3>